.mcontainer {
  margin: 50px;
  height: 10vh;
  max-height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 50px;
  background-color: #bfbfbf;
  border-radius: 20px;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.7);
}

.mtitle {
  flex: 1;
  text-align: center;
  background-color: #bfbfbf;
  color: black;
  font-weight: bold;
}

.myear {
  flex: 1;
  text-align: center;
  background-color: #bfbfbf;
  color: black;
  font-weight: bold;
}

span {
  background-color: #bfbfbf;
}
